.gdbar img {
  width: 450px !important;
  height: 100px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 500px !important;
  height: 120px !important;
}

.bbu{
  color: #2e3192; 
  text-decoration: underline; 
  font-weight: bold;
}

.pkht{
  color: #ed008c; 
  font-weight: bold;
}

.pt{
  color: #404040;
}
slides > slide.title-slide hgroup h1 {
  font-size: 36pt;
}

slides > slide:not(.nobackground):before {
  width: 135px;
  height: 30px;
  background-size: 135px 30px;
}

slides > slide hgroup h2 {
  font-size: 120%;
}

p {
  color: #404040;
  line-height: 150%;
}

ul{
    color: #2e3192;
    list-style-type: square;
}

ul ul{
    color: #ed008c;
    list-style-type: disc;
}

ul li span {
    color: #404040;
}

img.top {
    vertical-align: text-top;
}

#less_space_after_title > p {
  margin-top: -50px;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;;
}

.smtabtext{
  font-size=14px;
}

.smalltext{
    font-size: 10px;
}
